@charset "utf-8";

/* 메디어 쿼리 */
@media screen and (max-width:1620px) {
  .board{
    overflow: scroll;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 30px;
    padding: 30px 170px;
    margin-top: 0;
  }
}

@media screen and (max-width:1280px) {
  .board{
    overflow: scroll;
    height: 100%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    padding: 30px;
    margin-top: 0;
  }
}


@media screen and (max-width:1025px) {
*{
  font-size: 0.9em;
}
/* 메인 */
main{
  overflow: hidden;
  background-color: var(--white);
  /* padding: 0 0 80px 0; */
  position: absolute;
  top: 70px;
  left: 50px;
  width: calc(100% - 50px);
  /* height: calc(100% - 150px); */
}

/* 푸터 */
.admin_f_box{
  margin-left: 50px;
}

/* 없어지는 사이드 네비게이션 */
.left_nav{
  display: none;
  width: 0px; height: 0px;
}
/* 나오는 네비게이션 */
.left_nav2{
  display: block;
  position: absolute; top:70px; left: 0px;
  width: 50px;
  background-color: var(--darkbrown);
  height: 100vh;
  z-index: 8;
  padding-bottom: 100px;
}

.nav_inner2{
  color: var(--white);
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 5px;
}

.nav_inner2 li img{
  height: 25px;
  margin: 20px 6px;
  position: relative;
}

.nav_inner2 li{
  position: relative;
  font-weight: var(--fw-normal);
  padding: 5px 0;
}

.subMenu{
  position: absolute;
  top: 10px; left: 45px;
  width: 150px;
  display: none;
  padding: 20px;
  background-color:var(--gray);
}

.nav_inner2 li:hover .subMenu{
  display: block;
}


/* index.php */
.board {
  overflow: scroll;
  height: 100%;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  padding: 30px;
  margin-top: 0;
}

/* class_info.php */
.thumbnail{  display: none;}
.class_info{  display: block;}
.class_detail{  margin: 0px;}

}

/* 모바일 환경 쿼리 */
@media screen and (max-width:427px) {
*{
  font-size: var(--fs-small);
}
#m_list{
  z-index: 100;
}
h2{font-size: var(--fs-large);}
input.form-control,
select.form-select,
textarea.form-control{font-size: var(--fs-small);}
main{
  padding: 0;
  height: 100%;
}

.class_size{
  width: 100%;
}
main section article,
main section .article,
main section .bread,
main section h2{
  padding: 0px 20px;
}
.class_1 {  margin-top: 70px;}
.admin_search_box { right: 24px;}

/* 헤더서식 */
header {  height: 60px; text-align: center; top: 0px;}
header h1 { height: 40px; width: 100%;}
.admin_logout {  height: 48px;}
header a:nth-child(2) { top: 2px;}

/* 없어지는 사이드 네비게이션 */
.left_nav2{ 
  display: none;
  width: 0px;
}
/* 닫기 */
.bi-x-lg{ 
  position: absolute;  top:10px;  right:10px;
  color: var(--white);
  display: block;
  }

/* 열기 */
.bi-list{
  position: absolute;
  top:15px;
  left: 15px;
  color: var(--darkbrown);
  font-size: var(--fs-xxlarge);
  font-weight: var(--fw-bold);
}
/* 네비게이션 */
.left_nav{
  top:0px;  position: absolute; left: 0px;
  width: 0px;
  height: 100vh;
  background-color: var(--darkbrown);  
  z-index: 8;
  padding-bottom: 100px;
  overflow: auto;
}

.left_nav div{
  margin: 0 auto;
  width: 100%;
  height: 30px; line-height: 30px;
  color: var(--white);
  font-size: var(--fs-medium-large);
  margin-top: 50px;
  margin-left: -6px;
}

.nav_inner,
.nav_inner > li a{
  color: var(--white);  
}

.nav_inner{
  width: 200px; 
  margin: 0 auto;
  margin-top: 20px;
}
.nav_inner > li a{
  font-weight: var(--fw-light);
}

.nav_inner li img{
  height: 20px;
  margin: 6px  8px;
}
.nav_inner li{
  padding: 5px 0;
  position: relative;
  font-weight: var(--fw-normal);
  text-align: left;
  font-size: var(--fs-small);
}

.nav_inner li > span{
  position: absolute;  top: 16px; 
}

main{
  left: 0px;
  width: 100%;
  height: 100%;
}

/* 푸터 */
.footer{
  display: none;
}
.m_footer{ 
  display: block;
  height:180px;
}
footer{ 
  position: inherit;
}
.admin_f_box{  
  margin-left: 0px;
}

.admin_footer{
  margin: 0 auto;
  width: 90%;
}
.admin_footer div:first-child{
  margin: 0px;
  padding: 10px 5px;
}
.admin_footer div:first-child a{
  margin: 0px;
  padding: 5px;
}
.admin_footer div:first-child a:nth-child(2){
  font-weight: var(--fw-normal);
  color: var(--white);
}

.admin_footer div:nth-child(2){
  width: 100%;
  height: 70px;
  display: block;
  background-color: pink;
  overflow-wrap: normal;
}
.admin_position{
  position: relative;
  margin: 0 auto;
}
.admin_footer div:last-child{
    position: absolute;
    top: 145px;
    right: 5px;
}
.admin_footer div:last-child a i{
  font-size: 20px;
  padding: 0 10px;
}
.position_r_b,
.position_c_b,
.position_l_b{
  width: 80px;
}
}
